body{
  margin: 0px;
  font-family: 'Roboto' , sans-serif;
}

header{
  width: 100%;
  height: 20%;
  height: 100px;
  text-align: center;
}

footer{
  background-color: #686868;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
main{
  margin-bottom: 20px;
}

h1{
  font-weight: bold;
  font-size: 46px;
}

h2{
  text-align: center;
  font-size: 18px;
}

.mainConteneur{
  display: flex;
  height: 350px;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mainConteneur div {
  align-items: center;
  width: 300px;
  height: 175px;
}

.mainConteneur div p{
  width: 300px;
  text-align: center;
}

.mainConteneur div img{
  width: 300px;
}

.footerConteneur{
  display: flex;
  justify-content: flex-end;
}

#img1{
  margin-left: 280px;
}

#img2{
  margin-right: 280px;
}

#copyright{
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}
